{
	"printWidth": 140,
	"singleQuote": true,
	"semi": true,
	"useTabs": true,
	"tabWidth": 4,
	"overrides": [
		{
			"files": ["*.json", "*.jsonc"],
			"options": {
				"trailingComma": "none"
			}
		}
	]
}
